@model IEnumerable<THE_APP.Models.PostModel>

@{
    ViewBag.Title = "IsAccepted";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>IsAccepted</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Budget)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProposalNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isAccepted)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Type)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Budget)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CreationDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ProposalNum)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.isAccepted)
    </td>

    <td>
        <form action="@Url.Action("Accsept", new{ id = @item.Id })" method="delete"><input type="submit" value="Accsept" class="btn-success" /></form>
        <form action="@Url.Action("Rigect", new{ id = @item.Id })" method="delete"><input type="submit" value="Rigect" class="btn-danger"/></form>
        
    </td>
</tr>
        
    }

</table>
