@model IEnumerable<THE_APP.Models.ApplicationUser>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<h2>Users</h2>
<div style=" float: right;">
    @Html.ActionLink("New User", "Create", new { id = 151515 }, new { @class = "btn btn-primary" })
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lname)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lname)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-success" })
                @Html.ActionLink("View User", "ViewUser", new { id = item.Id }, new { @class = "btn btn-primary" })
                <form style="display: inline" action="@Url.Action("Delete", new{ id = @item.Id })" method="post"><input type="submit" value="Delete" class="btn btn-danger" /></form>
            </td>
        </tr>
    }

</table>
