@model IEnumerable<THE_APP.Models.PostModel>

@{
    ViewBag.Title = "AllPost";
    Layout = "~/Views/Shared/_FactoryLayout.cshtml";
}

<h2>AllPost</h2>
@using (@Html.BeginForm("AllPost", "Client", FormMethod.Get, new { @class = "d-flex align-items-center" }))
{
    @Html.Label("search", "Search", new { @class = "form-label mb-0 me-2" })
    @Html.TextBox("search", "", new { @class = "form-control", id = "search" })
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Budget)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProposalNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isAccepted)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Type)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Budget)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CreationDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ProposalNum)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.isAccepted)
    </td>
    <td>
        @Html.ActionLink("Edit", "EditPost", new { id = item.Id }) |
        @Html.ActionLink("Delete", "DeletePost", new { id = item.Id })
    </td>
</tr>
    }

</table>
